<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    给定一个字符串，找出不含重复字符的最长子串的长度。  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}longest-unique2.svg" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出： 整数</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>如何使用</strong>
    <ul>
        <li><i>密码数据验证，确保包含足够长的非重复字符序列；</i></li>
        <li><i>文本分析，尤其是密码学和编码模式分析；</i></li>
        <li><i>识别序列中的独特模式。</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
