<!-- Describe task in general -->

<p>
    За заданим рядком знайдіть довжину найдовшого підрядка без символів, що повторюються.  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}longest-unique.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Як використовується:</strong>
    <ul>
        <li><i>перевірка даних для паролів, щоб переконатися, що вони містять достатньо довгу послідовність символів, що не повторюються;</i></li>
        <li><i>аналіз тексту, особливо на предмет криптографії та шаблонів кодування;</i></li>
        <li><i>виявлення унікальних шаблонів у послідовності.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
